attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
exceptiongroup
Flask
h11
idna
itsdangerous
Jinja2
MarkupSafe
numpy
outcome
pandas
pycparser
PySocks
python-dateutil
pytz
requests
selenium
six
sniffio
sortedcontainers
trio
trio-websocket
tzdata
urllib3
Werkzeug
wsproto
Gunicorn
