<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Contact List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <div id="sidebar" class="sidebar">
        <a id="home" class="na" onclick="menu(this.id)" href="/">Home</a>
        <a id="companies" class="na" onclick="menu(this.id)" href="/companies">Companies</a>
        <a id="company_lists" class="na" onclick="menu(this.id)" href="/company-lists">Company Lists</a>
        <a id="contacts" class="na" onclick="menu(this.id)" href="/contacts">Contacts</a>
        <a id="contact_lists" class="na" onclick="menu(this.id)" href="/contact-lists">Contact Lists</a>
        <a id="meetings" class="na" onclick="menu(this.id)" href="/meetings">Meetings</a>
        <a id="reminders" class="na" onclick="menu(this.id)" href="/reminders">Reminders</a>
        <a id="phone_comms" class="na" onclick="menu(this.id)" href="/phone-comms">Phone Comms</a>
        <a id="bulk_email_log" class="na" onclick="menu(this.id)" href="/bulk-email-log">Bulk Email Log</a>
    </div>
    <script>
        function save_edit_list(id) {
            const name = document.getElementById("edit_list_name_{{ list_id }}");
            if (name.value === "") {
                alert("Name is empty")
            } else {
                let checkboxes = document.querySelectorAll('.table_container input[type="checkbox"]');
                let selected_contacts = [];
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked) {
                        selected_contacts.push(checkboxes[i].value);
                    }
                };
                $.ajax({
                    type: 'POST',
                    url: '/save-edit-list',
                    data: {
                        id: id,
                        name: name.value,
                        contacts: selected_contacts
                    },
                    success: function(response) {
                        if (response === "List Already Added") {
                            alert("List has already been added")
                        } else if (response === "List Edited Successfully") {
                            alert("List edited successfully")
                            location.href = "/contact-list/{{ list_id }}";
                        } else {
                            alert("List not edited")
                        }
                    }
                });
            }
        }
    </script>
    <div class="content">
        <h1>Edit {{ list_name }}</h1>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label for="edit_list_name_{{ list_id }}">List Name</label>
            </div>
            <div class="col-md-9">
                <input id="edit_list_name_{{ list_id }}" type="text" value="{{ list_name }}">
            </div>
            <div class="my-2"></div>
        </div>
        <div class="table_container">
            {{ table_edit_html | safe }}
        </div>
        <br>
        <button onclick="save_edit_list('{{ list_id }}')" class="edit_button">Save</button>
    </div>
</body>
</html>