<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Company</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <div id="sidebar" class="sidebar">
        <a id="home" class="na" onclick="menu(this.id)" href="/">Home</a>
        <a id="companies" class="na" onclick="menu(this.id)" href="/companies">Companies</a>
        <a id="company_lists" class="na" onclick="menu(this.id)" href="/company-lists">Company Lists</a>
        <a id="contacts" class="na" onclick="menu(this.id)" href="/contacts">Contacts</a>
        <a id="contact_lists" class="na" onclick="menu(this.id)" href="/contact-lists">Contact Lists</a>
        <a id="meetings" class="na" onclick="menu(this.id)" href="/meetings">Meetings</a>
        <a id="reminders" class="na" onclick="menu(this.id)" href="/reminders">Reminders</a>
        <a id="phone_comms" class="na" onclick="menu(this.id)" href="/phone-comms">Phone Comms</a>
        <a id="bulk_email_log" class="na" onclick="menu(this.id)" href="/bulk-email-log">Bulk Email Log</a>
    </div>
    <script>
        function status_change(id, value) {
            $.ajax({
                type: 'POST',
                url: '/process-status-change',
                data: {
                    company_id: id,
                    new_status: value
                },
                success: function() {
                    location.reload();
                }
            });
        };
        function contact_change(id) {
            const name = document.getElementById("edit_contact_name_" + id);
            const designation = document.getElementById("edit_contact_designation_" + id);
            const company = document.getElementById("edit_contact_company_" + id);
            const email = document.getElementById("edit_contact_email_" + id);
            const mobile = document.getElementById("edit_contact_mobile_" + id);
            if (name.value === "") {
                alert("Name is empty")
            } else if (designation.value === "") {
                alert("Designation is empty")
            } else if (email.value === "") {
                alert("Email is empty")
            } else if (mobile.value === "") {
                alert("Mobile is empty")
            } else {
                company_id = company.value.split("_")[1];
                company_name = company.value.split("_")[0];
                $.ajax({
                    type: 'POST',
                    url: '/process-contact-change',
                    data: {
                        id: id,
                        name: name.value,
                        designation: designation.value,
                        company_id: company_id,
                        company_name: company_name,
                        email: email.value,
                        mobile: mobile.value
                    },
                    success: function(response) {
                        if (response === "Contact Change Processed Successfully") {
                            alert("Contact edited successfully");
                            location.reload();
                        } else {
                            alert("Contact not edited")
                        }
                    }
                });
            }
        };
        function add_contact() {
            const name = document.getElementById("add_contact_name");
            const designation = document.getElementById("add_contact_designation");
            const company = document.getElementById("add_contact_company");
            const email = document.getElementById("add_contact_email");
            const mobile = document.getElementById("add_contact_mobile");
            if (name.value === "") {
                alert("Name is empty")
            } else if (designation.value === "") {
                alert("Designation is empty")
            } else if (email.value === "") {
                alert("Email is empty")
            } else if (mobile.value === "") {
                alert("Mobile is empty")
            } else {
                company_id = company.value.split("_")[1];
                company_name = company.value.split("_")[0];
                $.ajax({
                    type: 'POST',
                    url: '/add-contact',
                    data: {
                        name: name.value,
                        designation: designation.value,
                        company_id: company_id,
                        company_name: company_name,
                        email: email.value,
                        mobile: mobile.value
                    },
                    success: function(response) {
                        if (response === "Contact Already Added") {
                            alert("Contact has already been added")
                        } else if (response === "Contact Added Successfully"){
                            alert("Contact added successfully");
                            location.reload();
                        } else {
                            alert("Contact not added")
                        }
                    }
                });
            }
        };
        function add_meeting() {
            const company = document.getElementById("add_meeting_company");
            const meeting_type = document.getElementById("add_meeting_type");
            const start_dt = document.getElementById("add_meeting_start");
            const end_dt = document.getElementById("add_meeting_end");
            const prods = document.querySelectorAll(".add_meeting_prods:checked");
            const prod_values = Array.from(prods).map(checkbox => checkbox.value);
            const prods_csvalues = prod_values.join(', ');
            const agenda = document.getElementById("add_meeting_agenda");
            if (start_dt.value === "") {
                alert("Start date & time is empty")
            } else if (end_dt.value === "") {
                alert("End date & time is empty")
            } else if (end_dt.value < start_dt.value) {
                alert("Start date & time is more than end date & time")
            } else if (agenda.value === "") {
                alert("Agenda is empty")
            } else {
                company_id = company.value.split("_")[1];
                company_name = company.value.split("_")[0];
                $.ajax({
                    type: 'POST',
                    url: '/add-meeting',
                    data: {
                        company_id: company_id,
                        company_name: company_name,
                        meeting_type: meeting_type.value,
                        start_dt: start_dt.value,
                        end_dt: end_dt.value,
                        prods: prods_csvalues,
                        agenda: agenda.value
                    },
                    success: function(response) {
                        if (response === "Meeting Already Added") {
                            alert("Meeting has already been added")
                        } else if (response === "Meeting Added Successfully") {
                            alert("Meeting added successfully");
                            location.reload();
                        } else {
                            alert("Meeting not added")
                        }
                    }
                });
            }
        };
        function meeting_change(id) {
            const meeting_type = document.getElementById("edit_meeting_type_" + id);
            const company = document.getElementById("edit_meeting_company_" + id);
            const start_dt = document.getElementById("edit_meeting_start_" + id);
            const end_dt = document.getElementById("edit_meeting_end_" + id);
            const prods = document.querySelectorAll(".edit_meeting_prods_" + id + ":checked");
            const prod_values = Array.from(prods).map(checkbox => checkbox.value);
            const prods_csvalues = prod_values.join(', ');
            const agenda = document.getElementById("edit_meeting_agenda_" + id);
            if (start_dt.value === "") {
                alert("Start date & time is empty")
            } else if (end_dt.value === "") {
                alert("End date & time is empty")
            } else if (agenda.value === "") {
                alert("Agenda is empty")
            } else if (start_dt.value > end_dt.value) {
                alert("Start date & time is greater than end date & time")
            } else {
                company_id = company.value.split("_")[1];
                company_name = company.value.split("_")[0];
                $.ajax({
                    type: 'POST',
                    url: '/process-meeting-change',
                    data: {
                        id: id,
                        company_id: company_id,
                        company_name: company_name,
                        meeting_type: meeting_type.value,
                        start_dt: start_dt.value,
                        end_dt: end_dt.value,
                        prods: prods_csvalues,
                        agenda: agenda.value
                    },
                    success: function(response) {
                        if (response === "Meeting Change Processed Successfully") {
                            alert("Meeting edited successfully");
                            location.reload();
                        } else {
                            alert("Meeting not edited")
                        }
                    }
                });
            }
        };
        function add_reminder() {
            const company = document.getElementById("add_reminder_company");
            const contact = document.getElementById("add_reminder_company_contact");
            const reminder = document.getElementById("add_reminder_reminder");
            const recurrence = document.getElementById("add_reminder_recurrence");
            const start_dt = document.getElementById("add_reminder_start");
            const end_dt = document.getElementById("add_reminder_end");
            if (reminder.value === "") {
                alert("Reminder is empty")
            } else if (start_dt.value === "") {
                alert("Start date & time is empty")
            } else if (end_dt.value === "") {
                alert("End date & time is empty")
            } else if (start_dt.value > end_dt.value) {
                alert("Start date & time is greater than end date & time")
            } else {
                company_id = company.value.split("_")[1];
                company_name = company.value.split("_")[0];
                contact_id = contact.value.split("_")[1];
                contact_name = contact.value.split("_")[0];
                $.ajax({
                    type: 'POST',
                    url: '/add-reminder',
                    data: {
                        company_id: company_id,
                        company_name: company_name,
                        contact_id: contact_id,
                        contact_name: contact_name,
                        reminder: reminder.value,
                        recurrence: recurrence.value,
                        start_dt: start_dt.value,
                        end_dt: end_dt.value
                    },
                    success: function(response) {
                        if (response === "Reminder Already Added") {
                            alert("Reminder has already been added")
                        } else if (response === "Reminder Added Successfully") {
                            alert("Reminder added successfully");
                            location.reload();
                        } else {
                            alert("Reminder not added")
                        }
                    }
                });
            }
        };
        function for_one_time(evalue) {
            const recurrence = document.getElementById("add_reminder_recurrence");
            if (recurrence.value === "One Time") {
                document.getElementById("add_reminder_end").value = evalue;
            }
        };
        function check_reminder(id) {
            $.ajax({
                type: 'POST',
                url: '/check-reminder',
                data: {
                    id: id
                },
                success: function() {
                    if (response === "Reminder Checked Successfully") {
                        alert("Reminder checked successfully");
                        location.reload();
                    } else {
                        alert("Reminder not checked")
                    }
                }
            });
        }
    </script>
    <div class="content">
        <h1>Companies</h1>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <p><strong>Company ID:</strong>&nbsp;<span>{{ id }}</span></p>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ name }}</h3>
                        <p class="card-text"><strong>State:</strong>&nbsp;<span>{{ state }}</span></p>
                        <p class="card-text"><strong>Sector:</strong>&nbsp;<span>{{ sector }}</span></p>
                        <p class="card-text"><strong>Employees:</strong>&nbsp;<span>{{ employees }}</span></p>
                        <p class="card-text"><strong>Status:</strong>&nbsp;<span>{{ status|safe }}</span></p>
                    </div>
                </div>
                <div class="my-4"></div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <p><strong>Contacts</strong></p>
                    </div>
                    <div class="card-body">
                        <button class="view_button" type="button" data-bs-toggle="modal" data-bs-target="#add_contact_modal">Add New Contact</button>
                        <div class="modal fade" id="add_contact_modal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">New Contact</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_contact_designation">Company</label>
                                            </div>
                                            <div class="col-md-9">
                                                <select id="add_contact_company" disabled>
                                                    {{ company_options_html|safe }}
                                                </select>
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_contact_name">Name</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input id="add_contact_name" type="text">
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_contact_designation">Designation</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input id="add_contact_designation" type="text">
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_contact_email">Email</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input id="add_contact_email" type="email">
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_contact_mobile">Mobile</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input id="add_contact_mobile" type="tel">
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="add_contact()" class="view_button" data-bs-dismiss="modal">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="table_container communication_table">
                            {{ contacts_html | safe}}
                        </div>
                    </div>
                </div>
                <div class="my-4"></div>
                <div class="card">
                    <div class="card-header">
                        <p><strong>Meetings</strong></p>
                    </div>
                    <div class="card-body">
                        <button class="view_button" type="button" data-bs-toggle="modal" data-bs-target="#add_meeting_modal">Add New Meeting</button>
                        <div class="modal fade" id="add_meeting_modal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">New Meeting</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_meeting_company">Company</label>
                                            </div>
                                            <div class="col-md-9">
                                                <select id="add_meeting_company" disabled>
                                                    {{ company_options_html|safe }}
                                                </select>
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_meeting_type">Type</label>
                                            </div>
                                            <div class="col-md-9">
                                                <select id="add_meeting_type">
                                                    <option value="Introduction">Introduction</option>
                                                    <option value="Demo">Demo</option>
                                                    <option value="Go-Live">Go-Live</option>
                                                </select>
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_meeting_start">Start Date & Time</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="datetime-local" id="add_meeting_start">
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_meeting_end">End Date & Time</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="datetime-local" id="add_meeting_end">
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_meeting_prods">Product(s) Pitched</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input id="ygroo_training" class="add_meeting_prods" type="checkbox" value="YGROO TRAINING">
                                                <label for="ygroo_training">YGROO TRAINING</label>
                                                <br>
                                                <input id="ygroo_art" class="add_meeting_prods" type="checkbox" value="YGROO ART">
                                                <label for="ygroo_art">YGROO ART</label>
                                                <br>
                                                <input id="ygroo_pro" class="add_meeting_prods" type="checkbox" value="YGROO PRO">
                                                <label for="ygroo_pro">YGROO PRO</label>
                                                <br>
                                                <input id="ygroo_studio" class="add_meeting_prods" type="checkbox" value="YGROO STUDIO">
                                                <label for="ygroo_studio">YGROO STUDIO</label>
                                                <br>
                                                <input id="ygroo_care" class="add_meeting_prods" type="checkbox" value="YGROO CARE">
                                                <label for="ygroo_care">YGROO CARE</label>
                                                <br>
                                                <input id="ygroo_careers" class="add_meeting_prods" type="checkbox" value="YGROO CAREERS">
                                                <label for="ygroo_careers">YGROO CAREERS</label>
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_meeting_agenda">Agenda</label>
                                            </div>
                                            <div class="col-md-9">
                                                <textarea id="add_meeting_agenda" rows="5"></textarea>
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="add_meeting()" class="view_button" data-bs-dismiss="modal">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="table_container communication_table">
                            {{ meetings_html | safe}}
                        </div>
                    </div>
                </div>
                <div class="my-4"></div>
                <div class="card">
                    <div class="card-header">
                        <p><strong>Reminders</strong></p>
                    </div>
                    <div class="card-body">
                        <button class="view_button" type="button" data-bs-toggle="modal" data-bs-target="#add_reminder_modal">Add New Reminder</button>
                        <div class="modal fade" id="add_reminder_modal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">New Reminder</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_reminder_company">Company</label>
                                            </div>
                                            <div class="col-md-9">
                                                <select id="add_reminder_company" disabled>
                                                    {{ company_options_html|safe }}
                                                </select>
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_reminder_company_contact">Contact</label>
                                            </div>
                                            <div class="col-md-9">
                                                <select id="add_reminder_company_contact">
                                                    {{ company_contact_options_html|safe }}
                                                </select>
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_reminder_reminder">Reminder</label>
                                            </div>
                                            <div class="col-md-9">
                                                <textarea id="add_reminder_reminder" rows="2"></textarea>
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_reminder_recurrence">Type</label>
                                            </div>
                                            <div class="col-md-9">
                                                <select id="add_reminder_recurrence">
                                                    <option value="One Time">One Time</option>
                                                    <option value="Weekly">Weekly</option>
                                                    <option value="Monthly">Monthly</option>
                                                </select>
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_reminder_start">Start Date & Time</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="datetime-local" id="add_reminder_start" oninput="for_one_time(this.value)">
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="add_reminder_end">End Date & Time</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="datetime-local" id="add_reminder_end">
                                            </div>
                                            <div class="my-2"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="add_reminder()" class="view_button" data-bs-dismiss="modal">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="table_container communication_table">
                            {{ reminders_html|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>